body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
main {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  padding-left: 10px;
  height: 50%;
  width: 50%;
  box-sizing: border-box;
}

#hello {
  background-color: grey;
  float: left;
}

#login {
  background-color: darkgrey;
  float: right;
}

input {
  display: block;
  margin: 5px;
}

/* WHEN WINDOW <= 900px THIS CODE KICKS IN */
@media (max-width: 900px) {

  .container {
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    float: none;
  }
}
